:host{
    --tab-bar-height: 39px;
    --tab-content-height: calc(55vh - var(--tab-bar-height));
}

*{
    box-sizing: border-box;
}

.disabled {
    pointer-events: none;
}

/* lightning-datatable{
    display: block;
    height: auto !important;
} */