:host{
    --tab-bar-height: 39px;
    --tab-content-height: calc(55vh - var(--tab-bar-height));
}

*{
    box-sizing: border-box;
}

.disabled {
    pointer-events: none;
}

/* *:hover{
    transform: rotateX(15deg) skew(-15deg);
    transition: transform ease-in-out 0.3s;
} */


/* lightning-datatable{
    display: block;
    height: auto !important;
} */